/* Toggle Switch CSS */
.wsb-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.wsb-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.wsb-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.wsb-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .wsb-slider {
    background-color: #2196F3;
}

input:checked + .wsb-slider:before {
    transform: translateX(14px);
}

.wsb-slider.wsb-round {
    border-radius: 20px;
}

.wsb-slider.wsb-round:before {
    border-radius: 50%;
}

/* Additional CSS */
.wsb-style-controllers {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    background-color: #fff;
}

.wsb-style-controllers {
    max-width: 600px;
    border-collapse: collapse;
}

.wsb-style-controllers td {
    border: none;
    padding: 8px;
}

.wsb-style-controllers label {
    display: inline-block;
    min-width: 100px;
}

.wsb-color-field {
    width: 100%;
}

